# Backend Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/queueless


# JWT Secret (use a strong random string)
JWT_SECRET=your_jwt_secret_key_here_change_this_in_production

# Seed one admin account into MongoDB (created once if missing)
ADMIN_NAME=QueueLess Admin
ADMIN_EMAIL=admin@queueless.com
ADMIN_PASSWORD=change_this_admin_password

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000




